#cart{
    color: #888888
}

#pic{
    margin-bottom: 20px;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: auto;
}

.header{
    background: #F6F6F7;
    color: #222222;
    text-align: center;
    margin: auto;
}

.line {
    width: 80%;
    height: 1px;
    margin: 10px;
    border-top: solid #F8F8F8 0.2px;
}

.container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.product-info{
    width: 250px;
}

.product-info #name{
    font: lighter;
}

.product-info #description {
    color: #888888;
    word-break: break-word;
    width: 250px;
    padding-right: 20px;
}

.product-info #size #red-star{
    color: #C90000;
}
