
#cart{
    color: #888888
}

#pic{
    margin-bottom: 20px;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 90%;
}

.header{
    background: #F6F6F7;
    color: #222222;
    width: 100%;
    /* text-align: right; */
}

.line {
    width: 80%;
    height: 1px;
    margin: 10px;
    border-top: solid #F8F8F8 0.2px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.product-info #name{
    font: lighter;
    margin-right: 10px;
}

.product-info #description {
    color: #888888;
    padding-right: 10px;
}

.product-info #size #red-star{
    color: #C90000;
}
